@charset "UTF-8" ;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*.containerg{
    border: 3px dashed black;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
}
.containerp{
    border: 2px solid blue;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
}
.absolute{
    background-color: blue;
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    top: 0;
    left: 0;
}
.relative{
    background-color: red;
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;
    
}
.fixed{
    background-color: yellow;
    position: fixed;
    width: 200px;
    height: 200px;
    text-align: center;
    top: 100px;
}
.sticky{
    background-color: green;
    position: sticky;
    width: 100px;
    height: 100px;
    text-align: center;
    top: 0;
    
}
html{
    scroll-behavior: smooth;
}
header, footer{
    color: white;
    text-align: center;
    height: 100px;  
}
header{
    position: sticky;
    top: 0;
    font-size: 3rem;
}
section{
    height: 100vh;
}
.social{
    background-color: royalblue;
    color: white;
    padding: 1rem;
    position: fixed;
    font-size: inherit;
    top: 30%;
    left: 0;
    z-index: 1;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 3rem;
}
a{
    color: white;
    text-decoration: none;
}
a:visited{
    color: rgba(149, 150, 184, 0.637);    
}
a:hover{
    text-decoration: underline;
    color: white;
}*/
body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    padding: 20px;
}
.container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid black;  
}
.box{
    min-width: 100px;
    min-height: 100px;
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;

}