@charset "UTF-8" ;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(56, 56, 180);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 20px;
}
header, footer{
    text-align: center;
    color: white;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
}
div{
    text-align: center;
}
img#imagem{
    border-radius: 3000px;
}
footer{
    font-style: italic;
    padding-top: 20px;
}